@using Microsoft.AspNetCore.Mvc.Localization
@using TicketManagement.WebUI

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{ ViewBag.Title = Localizer["AddCash"]; }

<div class="login-form">
    <div class="container">
        <div class="col-md-6">
            <section>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <h5>@Localizer["Amount"]</h5>
                    <hr />
                    <br />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <div class="col-md-10">
                            @Html.TextBox("cash")
                        </div>
                    </div>
                    <div>
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" value="Добавить деньги" class="btn btn-form"><span>@SharedLocalizer["Submit"]</span></button>
                        </div>
                    </div>}
            </section>
        </div>
    </div>
</div>